.hero {
    background: linear-gradient(135deg, #ff7a18, #0077ff);
    padding: 80px 20px;
}

.hero-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

/* LEFT */
.hero-left {
    flex: 1;
    color: white;
}

.hero-left h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 17px;
    line-height: 1.8;
    max-width: 500px;
}

.hero-buttons {
    margin-top: 30px;
}

.btn-primary {
    background: white;
    color: #ff7a18;
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 12px;
}

.btn-outline {
    border: 2px solid white;
    color: white;
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
}

/* RIGHT CARDS */
.hero-right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.info-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
}

.info-card:hover {
    transform: translateY(-8px);
}

.info-card h3 {
    color: #0077ff;
    margin-bottom: 10px;
}

.info-card p {
    font-size: 14px;
    color: #555;
}

.features {
    padding: 60px 20px;
    text-align: center;
}



.feature-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature-card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* COURSES */
.courses {
    padding: 60px 20px;
    background: #eef4ff;
    text-align: center;
}

.course-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.course-card {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.price {
    font-weight: bold;
    color: #0077ff;
}

.btn-small {
    display: inline-block;
    margin-top: 10px;
    background: #ff7a18;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
}

/* STEPS */
.steps {
    padding: 50px 20px;
    text-align: center;
}

.step-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.step {
    background: #0077ff;
    color: white;
    padding: 15px;
    border-radius: 6px;
}


@media (max-width: 900px) {
    .hero-container {
        flex-direction: column;
    }
    .hero-right {
        grid-template-columns: 1fr;
    }
}
